body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 200px;
    max-height: 100vh;
  }
  
  .number-slide1 {
    background-color: white;
    background-image: url("./imagem/1.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .number-slide2 {
    background-color: white;
    background-image: url("./imagem/2.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .number-slide3 {
   background-color: white;
    background-image: url("./imagem/3.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .number-slide4 {
    background-color: white;
    background-image: url("./imagem/4.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .number-slide5 {
    background-color: white;
    background-image: url("./imagem/5.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .number-slide6 {
    background-color: white;
    background-image: url("./imagem/6.png") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
  
  .thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 100px;
  }
  .thumbnail .keen-slider__slide {
    cursor: pointer;
  }
  .thumbnail .keen-slider__slide.active {
    border: 2px dashed black;
  }
  